html, body {
  margin: 0px;
  height: 100%;
  overflow: hidden;
  background-color:black;
}


#hiddenSplash {
  display: none;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#textcanvas {
    position: absolute;
    top: 0;
    left: 0;
}

#glcanvas {
  border: 0px;
  float: left;
  width: 100vw;
  height: 100vh;
  display: block;
}
