html, body {
  margin: 0px;
  height: 100%;
  overflow: hidden;
  background-color:black;
}

#text {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
}

#glcanvas {
  border: 2px solid black;
  float: left;
  width: 100vw;
  height: 100vh;
  display: block;
}
